<!-- <div class="card" style="width: 18rem;">
  <img src="assets/img/avatar.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<div class="row justify-content-center align-items-center">
  <div class="col-sm-9 row justify-content-center align-items-center">
      <div class="card p-3 mb-5 rounded" style="width: 18rem">
          <div class="card-body" >
              <img class="card-img-top center" src="assets/img/avatar.jpg" alt="Card image cap">
              <br>
              <br>
              <h5 class="card-title text-center">Melissa Rodríguez Arellano</h5>
              <br>
              <h5 class="card-title text-center">OBJETIVO</h5>
              <p class="card-text text-center">Poner en práctica mis 
                conocimientos y habilidades en una empresa en la cual pueda ejercer mi área laboral, permitiéndome 
                tener experiencia profesional en un ámbito real.</p>
                
          </div>
      </div>

      <div class="card p-3 mb-5 rounded" style="width: 45rem">
          <div class="card-body">
              <br>
              <h5 class="card-title text-center">UNIVERSIDAD TECNOLÓGICA DEL CENTRO DE VERACRUZ</h5>
              <p class="card-text text-center">TÉCNICO SUPERIOR UNIVERSITARIO TECNOLOGÍAS DE LA INFORMACIÓN 
                ÁREA DESARROLLO DE SOFTWARE MULTIPLATAFORMA</p>
          </div>
      </div>
      
  </div>
</div>