<!-- <div class="card" style="width: 18rem;">
  <img src="assets/img/avatar.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<div class="row justify-content-center align-self-center">
  <div  class="col-sm-9 row justify-content-center align-items-center">
      <div class="card p-3 mb-5 rounded" style="width: 18rem; height: 23rem;">
          <div class="card-body" >
              <img class="card-img-top center"  style="width: 3.5rem; height: 3.5rem" 
              src="assets/img/avatar.jpg" alt="Card image cap">
              <br>
              <h5 class="card-title text-center">Llámenos</h5>
              <p class="card-text text-center">La ayuda por teléfono está disponible de 9:00 a.m. a 18:00 p.m.
                No dude en llamarnos.</p>
                <p class="card-text text-center">271 71 660 16</p>
          </div>
      </div>
      &nbsp;
      &nbsp;
      <div class="card p-3 mb-5 rounded" style="width: 19rem;height: 23rem;">
          <div class="card-body">
              <img class="card-img-top center"  style="width: 3.5rem; height: 3.5rem" 
              src="" alt="Card image cap">
              <br>
              <h5 class="card-title text-center">Escríbanos</h5>
              <p class="card-text text-center">Para consultas y preguntas generales, 
                comuníquese con nosotros por correo electrónico</p>
                <p class="card-text text-center text-primary">contacto@grupoaudace.com.mx</p>
          </div>
      </div>
      &nbsp;
      &nbsp;
      <div class="card p-3 mb-5 rounded" style="width: 18rem;height: 23rem;">
        <div class="card-body">
            <img class="card-img-top center border-0"  style="width: 3.5rem; height: 3.5rem" 
            src="" alt="Card image cap">
            <h5 class="card-title text-center" style="height: 1.5rem;"></h5> <!--es un cuadro solo de relleno -->
            <h5 class="card-title text-center">Visítenos</h5>
            <p class="card-text text-center">La Peñuela, Amatlán de los Reyes, Veracruz. C.P. 94945</p>
        </div>
    </div>
  </div>