<!-- <div class="card" style="width: 18rem;">
  <img src="assets/img/avatar.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<div class="row justify-content-center align-items-center">
  <div class="col-sm-9 row justify-content-center align-items-center">
      <div class="card p-3 mb-5 rounded" style="width: 18rem">
          <div class="card-body" >
              <img class="card-img-top center" src="assets/img/avatar.jpg" alt="Card image cap">
              <br>
              <br>
              <h5 class="card-title text-center">Melissa Rodríguez Arellano</h5>
              <br>
              <h5 class="card-title text-center">OBJETIVO</h5>
              <p class="card-text text-center">Poner en práctica mis 
                conocimientos y habilidades en una empresa en la cual pueda ejercer mi área laboral, permitiéndome 
                tener experiencia profesional en un ámbito real.</p>
                
          </div>
      </div>

      <div class="card p-3 mb-5 rounded" style="width: 40rem;">
          <div class="card-body">
              <br>
              <h4 class="card-title text-center">UNIVERSIDAD TECNOLÓGICA DEL CENTRO DE VERACRUZ</h4>
              <p class="card-text text-center">TÉCNICO SUPERIOR UNIVERSITARIO TECNOLOGÍAS DE LA INFORMACIÓN 
                ÁREA DESARROLLO DE SOFTWARE MULTIPLATAFORMA</p>
              <br>
              <h5 class="card-title text-center">EXPERIENCIA LABORAL</h5>
              <h6>ESCUELA PRÁCTICA/DESARROLLADOR WEB</h6>
              <p>Consumibles Diesel de Córdoba | 2019 – 2020</p>
              <p>- Creación de base de datos</p>
              <p>- Desarrollo de página web con catálogos</p>
              <p>- Diseño y estructura del sitio web</p>
              <p>- Líder de proyectos</p>

              <br>
              <h5 class="card-title text-center">FORMACIÓN ACADÉMICA</h5>
              <h6>UNIVERSIDAD TECNOLÓGICA DEL CENTRO DE VERACRUZ</h6>
              <p>Tecnologías de la Información Área Desarrollo de Software 
                Multiplataforma | Generación 2018 – 2020</p>
              <p>- Lenguajes de Programación HTML, JAVA, JAVASCRIPT, PHP</p>
              <p>- Programación Orientada a Objetos</p>
              <p>- Desarrollo de Aplicaciones web con frameworks Angular y Laravel</p>
              <p>- Desarrollo de Aplicaciones móviles con Android Studio e Ionic</p>
              <p>- Base de Datos en la Nube</p>
          </div>
      </div>
      
  </div>
</div>